<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--Spring - Bean Scopes
    1- Singleton: the container creates a single instance of that bean so all requests for that bean name will return the same object from,
    which is cached (default)
    2- Prototype: A bean return a different instance every time it is requested from the container

    &#45;&#45; Web aware:
    3-Request: This scopes a bean definition to an HTTP request.
    4-Session: This scopes a bean definition to an HTTP session.
    5-Global Session:This scopes a bean definition to a global HTTP session.-->

    <bean id="emp" class="Containers.Employee" scope="singleton">  <!--scope="singleton" or scope="prototype"-->
        <property name="id" value="20"></property>
        <property name="name" value="Rasha"></property>
        <property name="salary" value="7300"></property>
        <property name="department" ref="dept"></property>
        <property name="address">
            <list>
                <value>Ankara</value>
                <value>Istanbul</value>
                <!--or we can use refs if the list type is not string
                               <ref bean="answer1"/>
                               <ref bean="answer2"/>-->
            </list>
        </property>
        <property name="books">
            <list>
                <ref bean="book1"/>
                <ref bean="book2"/>
            </list>
        </property>
    </bean>

    <bean id="dept" class="Containers.Department">
        <property name="id" value="1"></property>
        <property name="name" value="IT"></property>
    </bean>
    <bean id="book1" class="Containers.Book">
        <property name="id" value="1"></property>
        <property name="name" value="Example1"></property>
    </bean>
    <bean id="book2" class="Containers.Book">
        <property name="id" value="2"></property>
        <property name="name" value="Example2"></property>
    </bean>
</beans>